* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
}

/* ------------------------------------------------------------------------------------ */
.title {
  font-size: 3em;
  align-items: center;

  margin-top: 30px;
}

/* ------------------------------------------------------------------------------------ */
.newTodoBox {
  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.userInputTitle {
  height: 40px;
  width: 40%;
}

.newTodoBtn {
  height: 40px;
  width: 90px;
}

/* ------------------------------------------------------------------------------------ */
.showTodoBox {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.todoBox {
  width: 80%;
  height: 50px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.todoTitle-comp {
  color: green;
  text-decoration: line-through;
}

.todoTitle-incomp {
  color: black;
}

.deletTodoBtn {
  height: 20px;
  width: 40px;
}


/* --------------------------------------------------------------------- */
.btnContainer {
  position: fixed;
  right: 0%;
  top: 20%;
  height: 200px;
  width: 100px;
  background-color: aqua;
}

.sortDefult {
  width: 100%;
  height: 20%;
}

.sortByDate {
  width: 100%;
  height: 20%;
}

/* --------------------------------------------------------------------- */
.modal {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 10;

  height: 600px;
  width: 800px;
  /* border: 1px solid #d1edcc; */
  background-color: rgb(192, 192, 192);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.button {
  height: 40px;
  width: 80px;
}

.priorityInput {
  height: 40px;
  width: 40px;
}